@use 'base/mixins' as m;
@use 'base/variables' as v;

.crear-grid {
    text-align: center;

    @include m.tablet {
        text-align: left;
        @include m.grid(2, 2rem);
        align-items: center;
    }

    h2 {
        @include m.headingBorder(v.$secundario, v.$primario)
    }
}